@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: 400;
  src: local('Give You Glory'), local('GiveYouGlory'), url(../fonts/giveyouglory.woff) format('woff');
}
/* Base colors */
/* Special colors */
/* Font */
/* Responsive Functions*/
/* XS < 480px */
@media (max-width: 480px) {
  body {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  header {
    padding-top: 5px;
    min-height: 74.5px;
  }
  header #logo {
    padding: 8.5px 10px;
  }
  header #logo h1 {
    font-size: 30px;
  }
  header #logo img {
    width: 24px;
    height: 24px;
  }
  header #quickmenu .menu-item {
    /*width: @blockSizeFormated;
        height: @blockSizeFormated;
        line-height: @blockSizeFormated;*/
    padding: 5px 7px;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 54px;
  }
  #helpOverlay .helpItem {
    font-size: 17.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 14px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 14px;
    padding: 7px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 21px 21px 21px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 7px;
  }
}
/* 480px < S < 767px */
@media (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  header {
    padding-top: 5px;
    min-height: 74.5px;
  }
  header #logo {
    padding: 8.5px 10px;
  }
  header #logo h1 {
    font-size: 30px;
  }
  header #logo img {
    width: 24px;
    height: 24px;
  }
  header #quickmenu .menu-item {
    /*width: @blockSizeFormated;
        height: @blockSizeFormated;
        line-height: @blockSizeFormated;*/
    padding: 5px 7px;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 54px;
  }
  #helpOverlay .helpItem {
    font-size: 17.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 14px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 14px;
    padding: 7px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 21px 21px 21px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 7px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  header {
    padding-top: 7px;
    min-height: 104.3px;
  }
  header #logo {
    padding: 11.9px 14px;
  }
  header #logo h1 {
    font-size: 42px;
  }
  header #logo img {
    width: 33.6px;
    height: 33.6px;
  }
  header #quickmenu .menu-item {
    /*width: @blockSizeFormated;
        height: @blockSizeFormated;
        line-height: @blockSizeFormated;*/
    padding: 7px 10px;
    min-width: 42px;
    height: 42px;
    font-size: 19px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 75px;
  }
  #helpOverlay .helpItem {
    font-size: 22.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 18px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 18px;
    padding: 9px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 27px 27px 27px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 9px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  header {
    padding-top: 9px;
    min-height: 134.1px;
  }
  header #logo {
    padding: 15.3px 18px;
  }
  header #logo h1 {
    font-size: 54px;
  }
  header #logo img {
    width: 43.2px;
    height: 43.2px;
  }
  header #quickmenu .menu-item {
    /*width: @blockSizeFormated;
        height: @blockSizeFormated;
        line-height: @blockSizeFormated;*/
    padding: 9px 13px;
    min-width: 54px;
    height: 54px;
    font-size: 25px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 97px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 100%;
    min-width: auto;
    height: auto;
    font-size: 25px;
  }
  #storiesContainer .storyContainer .story .panel-heading {
    font-size: 13px;
    padding: 10px 10px 2px 10px;
  }
  #storiesContainer .storyContainer .story .panel-heading h1,
  #storiesContainer .storyContainer .story .panel-heading h2,
  #storiesContainer .storyContainer .story .panel-heading h3,
  #storiesContainer .storyContainer .story .panel-heading h4,
  #storiesContainer .storyContainer .story .panel-heading h5 {
    font-size: 40px;
  }
  #storiesContainer .storyContainer .story .panel-heading h1 i,
  #storiesContainer .storyContainer .story .panel-heading h2 i,
  #storiesContainer .storyContainer .story .panel-heading h3 i,
  #storiesContainer .storyContainer .story .panel-heading h4 i,
  #storiesContainer .storyContainer .story .panel-heading h5 i {
    font-size: 25px;
  }
}
