@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);
/* Base colors */
/* Special colors */
/* Font */
/* Responsive Functions*/
/* XS < 480px */
@media (max-width: 480px) {
  body {
    min-width: 300px;
  }
  header {
    padding-top: 5px;
    min-height: 74.5px;
  }
  header #logo {
    padding: 8.5px 10px;
  }
  header #logo h1 {
    font-size: 30px;
  }
  header #logo img {
    width: 24px;
    height: 24px;
  }
  header #quickmenu .menu-item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 54px;
  }
  #helpOverlay .helpItem {
    font-size: 17.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 14px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 14px;
    padding: 7px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 21px 21px 21px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 7px;
  }
}
/* 480px < S < 767px */
@media (min-width: 480px) and (max-width: 767px) {
  header {
    padding-top: 5px;
    min-height: 74.5px;
  }
  header #logo {
    padding: 8.5px 10px;
  }
  header #logo h1 {
    font-size: 30px;
  }
  header #logo img {
    width: 24px;
    height: 24px;
  }
  header #quickmenu .menu-item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 54px;
  }
  #helpOverlay .helpItem {
    font-size: 17.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 14px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 14px;
    padding: 7px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 21px 21px 21px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 7px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 991px;
  }
  header {
    padding-top: 7px;
    min-height: 104.3px;
  }
  header #logo {
    padding: 11.9px 14px;
  }
  header #logo h1 {
    font-size: 42px;
  }
  header #logo img {
    width: 33.6px;
    height: 33.6px;
  }
  header #quickmenu .menu-item {
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 21px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 75.6px;
  }
  #helpOverlay .helpItem {
    font-size: 22.5px;
  }
  #helpOverlay .helpItem .image {
    padding: 18px;
  }
  #helpOverlay .helpItem#quickmenuHelpBlock {
    font-size: 18px;
    padding: 9px;
  }
  #helpOverlay .helpItem#swipeHelpBlock {
    padding: 0 27px 27px 27px;
    min-height: 200px;
  }
  #helpOverlay .helpItem#sitesHelpBlock {
    padding-top: 9px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    padding-top: 9px;
    min-height: 134.1px;
  }
  header #logo {
    padding: 15.3px 18px;
  }
  header #logo h1 {
    font-size: 54px;
  }
  header #logo img {
    width: 43.2px;
    height: 43.2px;
  }
  header #quickmenu .menu-item {
    width: 54px;
    height: 54px;
    line-height: 54px;
    font-size: 27px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
  }
  header #quickmenu .menu-item.menu-item-double {
    width: 97.2px;
  }
}
