@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);
/* Base colors */
/* Special colors */
/* Font */
/* Responsive Functions*/
body {
  color: #afaebc;
  background-color: #f1f2f7;
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 450px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
::selection {
  background: #4bc3bc;
  color: #fff;
}
a {
  cursor: pointer;
}
/* Header */
header {
  padding-top: 10px;
  min-height: 149px;
}
header #logo {
  padding: 17px 20px;
}
header #logo h1 {
  font-size: 60px;
}
header #logo img {
  width: 48px;
  height: 48px;
}
header #counter {
  height: 139px;
  word-spacing: 10px;
  padding-right: 20px;
  line-height: 139px;
}
header #counter .index {
  font-size: 30px;
}
header #counter .delimiter {
  font-size: 40px;
}
header #counter button {
  font-size: 25px;
}
header #logo {
  color: #1fb5ac;
  float: left;
  font-family: 'Give You Glory', cursive;
}
header #logo h1 {
  padding: 0;
  margin: 0;
}
header #logo.zIndex {
  z-index: 9999;
  position: absolute;
}
header #counter .index {
  vertical-align: middle;
  font-family: 'Give You Glory', cursive;
  color: #4bc3bc;
}
header #counter .delimiter {
  font-family: 'Give You Glory', cursive;
  vertical-align: middle;
}
header #counter .btn-group {
  word-spacing: normal;
}
header #counter button {
  font-family: 'Give You Glory', cursive;
}
/* Main Loader */
#mainLoader {
  padding: 30px;
  position: absolute;
  left: 50%;
  margin-left: -79px;
}
/* Settings */
#settings #settingsContent {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  line-height: 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* Buttons */
.btn-default {
  background-color: #c7cbd6;
  border-color: #c7cbd6;
  color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #b0b5b9;
  border-color: #b0b5b9;
  color: #fff;
}
.btn-primary,
.btn-primary[disabled] {
  background-color: #4bc3bc;
  border-color: #4bc3bc;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #1fb5ac;
  border-color: #1fb5ac;
  color: #fff;
}
/* Dropdown */
.dropdown-menu h3 {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 1.2em;
  color: #1fb5ac;
  text-align: center;
}
/* Stories */
#storiesContainer {
  position: relative;
  min-height: 200px;
}
#storiesContainer .storyContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: url("../img/swipe.png"), auto;
}
#storiesContainer .storyContainer .story {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
#storiesContainer .storyContainer .story .panel-heading {
  border-color: #eff2f7;
  font-size: 13px;
  font-weight: 400;
  background: #fafafa;
  text-transform: uppercase;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
#storiesContainer .storyContainer .story .image {
  padding: 10px;
  text-align: center;
}
#storiesContainer .storyContainer .story .panel-body {
  padding: 10px;
}
#storiesContainer .storyContainer .story .panel-body .decoration {
  font-weight: bold;
}
