/* Base colors */
/* Special colors */
/* Font */
body {
  color: #afaebc;
  background-color: #f1f2f7;
  font-size: 12px;
  min-width: 450px;
  padding-bottom: 50px;
}
::selection {
  background: #4bc3bc;
  color: #fff;
}
/* Header */
#logo {
  padding: 10px 20px;
  color: #1fb5ac;
  float: left;
}
/* Settings */
#settings .settingsContent {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* Buttons */
.btn-default {
  background-color: #c7cbd6;
  border-color: #c7cbd6;
  color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #b0b5b9;
  border-color: #b0b5b9;
  color: #fff;
}
.btn-primary,
.btn-primary[disabled] {
  background-color: #4bc3bc;
  border-color: #4bc3bc;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #1fb5ac;
  border-color: #1fb5ac;
  color: #fff;
}
/* Stories */
.story {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 10px 0;
  border: none;
  box-shadow: none;
}
.story .panel-heading {
  border-color: #eff2f7;
  font-size: 13px;
  font-weight: 400;
  background: #fafafa;
  text-transform: uppercase;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
.story .image {
  padding: 10px;
  text-align: center;
}
.story .panel-body {
  padding: 10px;
}
.story .panel-body .decoration {
  font-weight: bold;
}
