@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: 400;
  src: local('Give You Glory'), local('GiveYouGlory'), url(../fonts/giveyouglory.woff) format('woff');
}
/* Base colors */
/* Special colors */
/* Font */
/* Responsive Functions*/
#helpOverlay {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Give You Glory', cursive;
  display: block;
}
#helpOverlay .helpItem {
  position: absolute;
  border-top: 1px dotted #c7cbd6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  font-size: 25px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#helpOverlay .helpItem .image {
  padding: 20px;
}
#helpOverlay .helpItem#quickmenuHelpBlock {
  font-size: 20px;
  padding: 10px;
}
#helpOverlay .helpItem#swipeHelpBlock {
  padding: 0 30px 30px 30px;
  min-height: 200px;
}
#helpOverlay .helpItem#sitesHelpBlock {
  padding-top: 10px;
}
#helpOverlay .dismiss {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 500px;
}
#loading-bar .bar {
  background: #4bc3bc;
}
#loading-bar .peg {
  -moz-box-shadow: #4bc3bc 1px 0 6px 1px;
  -ms-box-shadow: #4bc3bc 1px 0 6px 1px;
  -webkit-box-shadow: #4bc3bc 1px 0 6px 1px;
  box-shadow: #4bc3bc 1px 0 6px 1px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #4bc3bc;
  border-left-color: #4bc3bc;
}
.animate-show {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  opacity: 1;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block!important;
}
.animate-show.ng-hide {
  opacity: 0;
}
