@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: 400;
  src: local('Give You Glory'), local('GiveYouGlory'), url(../fonts/giveyouglory.woff) format('woff');
}
/* Base colors */
/* Special colors */
/* Font */
/* Responsive Functions*/
body {
  color: #585a5e;
  background-color: #f7f7f7;
  font-size: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 800px;
  height: 600px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
::selection {
  background: #6bc5fa;
  color: #fff;
}
a {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Give You Glory', cursive;
  text-transform: lowercase;
  font-weight: bold;
  color: #585a5e;
}
/* Header */
header {
  padding-top: 10px;
  min-height: 149px;
}
header #logo {
  float: left;
  font-family: 'Give You Glory', cursive;
}
header #logo h1 {
  padding: 0;
  margin: 0;
  color: #6bc5fa;
}
header #logo.zIndex {
  z-index: 9999;
  position: absolute;
}
header #logo small {
  color: #585a5e;
}
header #quickmenu {
  overflow: hidden;
  display: inline-block;
}
header #quickmenu .menu-item {
  color: #6bc5fa;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: 'Give You Glory', cursive;
  cursor: pointer;
  margin: 0;
  padding: 0;
  float: none;
}
header #quickmenu .menu-item:hover,
header #quickmenu .menu-item:active,
header #quickmenu .menu-item:focus {
  text-decoration: none;
}
header #quickmenu .menu-item i {
  vertical-align: middle;
}
header #quickmenu .menu-item:hover {
  color: #3d9ff8;
}
header #quickmenu .menu-item.active {
  color: #32323a;
}
header #quickmenu .menu-item.disabled {
  color: #c7cbd6;
  cursor: default;
}
header #page-title {
  padding-right: 10px;
}
header #page-title h2 {
  margin: 0;
  padding: 0;
  float: none;
  padding-top: 5px;
  margin-top: 5px;
}
header #logo {
  padding: 17px 20px;
}
header #logo h1 {
  font-size: 60px;
}
header #logo img {
  width: 48px;
  height: 48px;
}
header #quickmenu .menu-item {
  padding: 10px 15px;
  height: 60px;
  font-size: 27px;
}
header #page-title h2 {
  font-size: 30px;
}
/* Main Loader */
#mainLoader {
  padding: 30px;
  position: absolute;
  left: 50%;
  margin-left: -79px;
}
/* Settings */
#settings #settingsContent {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  line-height: 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* Buttons */
.btn-default {
  background-color: #c7cbd6;
  border-color: #c7cbd6;
  color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #585a5e;
  border-color: #585a5e;
  color: #fff;
}
.btn-primary,
.btn-primary[disabled] {
  background-color: #6bc5fa;
  border-color: #6bc5fa;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #3d9ff8;
  border-color: #3d9ff8;
  color: #fff;
}
/* Modals */
.modal .modal-content {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.modal .modal-content .modal-header {
  background-color: #3d9ff8;
  text-align: center;
}
.modal .modal-content .modal-header h1,
.modal .modal-content .modal-header h2,
.modal .modal-content .modal-header h3,
.modal .modal-content .modal-header h4 {
  color: #fff;
}
.get-more-modal ul {
  margin: 0;
  padding: 0;
  float: none;
  list-style: none;
}
.get-more-modal ul li {
  margin: 0;
  padding: 0;
  float: none;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.get-more-modal ul li a {
  color: #6bc5fa;
  display: block;
  padding: 5px 10px;
  font-size: 23px;
  font-family: 'Give You Glory', cursive;
}
.get-more-modal ul li a:hover,
.get-more-modal ul li a:active,
.get-more-modal ul li a:focus {
  text-decoration: none;
}
.get-more-modal ul li a:hover {
  color: #3d9ff8;
}
.filter-modal .sites-list a {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  padding: 10px 15px 5px 15px;
  font-family: 'Give You Glory', cursive;
  font-style: italic;
  color: #c7cbd6;
  background-color: #f7f7f7;
}
.filter-modal .sites-list a .fa-star {
  color: #e6c511;
}
.filter-modal .sites-list a .fa-star-o {
  color: #c7cbd6;
}
.filter-modal .sites-list a small {
  color: #c7cbd6;
  display: block;
  padding: 0 0 0 30px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-style: italic;
  font-size: 0.8em;
}
.filter-modal .sites-list a small i {
  font-size: 1.2em;
}
.filter-modal .sites-list a.infavs {
  background-color: #fff;
  font-style: normal;
  color: #3d9ff8;
}
.filter-modal .sites-list a.infavs small {
  color: #585a5e;
}
/* Tooltips */
.tooltip {
  font-family: 'Give You Glory', cursive;
  font-size: 20px;
  padding: 10px;
}
/* Stories */
#storiesContainer {
  position: relative;
  min-height: 200px;
}
#storiesContainer .storyContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: url("../img/swipe.png"), auto;
}
#storiesContainer .storyContainer .story {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
#storiesContainer .storyContainer .story .panel-heading {
  border-color: #6bc5fa;
  font-size: 18px;
  font-weight: 400;
  background: #6bc5fa;
  text-transform: uppercase;
  padding: 10px 10px 2px 10px;
  color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}
#storiesContainer .storyContainer .story .panel-heading h1,
#storiesContainer .storyContainer .story .panel-heading h2,
#storiesContainer .storyContainer .story .panel-heading h3,
#storiesContainer .storyContainer .story .panel-heading h4,
#storiesContainer .storyContainer .story .panel-heading h5 {
  margin: 0;
  padding: 0;
  float: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
#storiesContainer .storyContainer .story .panel-heading h1 i,
#storiesContainer .storyContainer .story .panel-heading h2 i,
#storiesContainer .storyContainer .story .panel-heading h3 i,
#storiesContainer .storyContainer .story .panel-heading h4 i,
#storiesContainer .storyContainer .story .panel-heading h5 i {
  font-size: 18px;
}
#storiesContainer .storyContainer .story .panel-heading small {
  font-size: 18px;
  font-family: 'Give You Glory', cursive;
  font-weight: bold;
}
#storiesContainer .storyContainer .story .image {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
}
#storiesContainer .storyContainer .story .panel-body {
  padding: 10px;
  padding-bottom: 35px;
}
#storiesContainer .storyContainer .story .panel-body .decoration {
  font-weight: bold;
}
/* FavBar */
#favBar {
  text-align: center;
  background: #fff;
  width: 71px;
  border-radius: 71px;
  -moz-border-radius: 71px;
  -webkit-border-radius: 71px;
  margin: 0 auto;
  margin-top: -35px;
}
#favBar a {
  color: #c7cbd6;
  font-size: 50px;
}
#favBar a:hover,
#favBar a:active,
#favBar a:focus {
  text-decoration: none;
}
#favBar a i.fa-star {
  color: #6bc5fa;
}
