@import "variables.less";
@import "functions.less";

body {
    font-size: @fontSize;
    min-width: 550px;
    background-color: @bgColor;
}

/* Layout */
#loadMore {
    i {
        margin-right: 5px;
        margin-left: 5px;
    }
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid darken(@bgColor, 10%);
}