.reset() {
    margin: 0;
    padding: 0;
    float: none;
}
.no-underline() {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}
.unselectable() {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
.border-radius(@radius: '6px') {
    @rad: unit(@radius,px);
    border-radius: @rad;
    -moz-border-radius: @rad;
    -webkit-border-radius: @rad;
}
.border-top-radius(@radius: '6px') {
    @rad: unit(@radius,px);
    border-top-left-radius: @rad;
    border-top-right-radius: @rad;
    -moz-border-top-left-radius: @rad;
    -moz-border-top-right-radius: @rad;
    -webkit-border-top-left-radius: @rad;
    -webkit-border-top-right-radius: @rad;
}

/* Responsive Functions*/
.responsive-header(@scale) {
    padding-top: unit(10*@scale, px);
    min-height: unit(149*@scale, px);
    #logo { .responsive-logo(@scale); }
    #quickmenu { .responsive-quickmenu(@scale); }
}
.responsive-logo(@scale) {
    padding: unit(17*@scale, px) unit(20*@scale, px);
    h1 {
        font-size: unit(60*@scale, px);
    }
    img {
        width: unit(48*@scale, px);
        height: unit(48*@scale, px);
    }
}
.responsive-quickmenu(@scale) {
    @blockSize: 60;
    @blockSizeFormated: unit(@blockSize*@scale, px);
    .menu-item {
        width: @blockSizeFormated;
        height: @blockSizeFormated;
        line-height: @blockSizeFormated;
        font-size: unit(30*@scale, px);
        .border-radius( unit(10*@scale, px) );
        &.menu-item-double {
            width: unit(1.8*@blockSize*@scale, px);
        }
    }
}
.responsive-help-item(@scale) {
    font-size: unit(25*@scale,px);
    .image {
        padding: unit(20*@scale,px);
    }
    &#quickmenuHelpBlock {
        font-size: unit(20*@scale,px);
        padding: unit(10*@scale,px);
    }
    &#swipeHelpBlock {
        padding: 0 unit(30*@scale,px) unit(30*@scale,px) unit(30*@scale,px);
        min-height: 200px;
    }
    &#sitesHelpBlock {
        padding-top: unit(10*@scale,px);
    }
}