.reset() {
    margin: 0;
    padding: 0;
    float: none;
}
.no-underline() {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}
.unselectable() {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
.border-radius(@radius: '6px') {
    @rad: unit(@radius,px);
    border-radius: @rad;
    -moz-border-radius: @rad;
    -webkit-border-radius: @rad;
}
.border-top-radius(@radius: '6px') {
    @rad: unit(@radius,px);
    border-top-left-radius: @rad;
    border-top-right-radius: @rad;
    -moz-border-top-left-radius: @rad;
    -moz-border-top-right-radius: @rad;
    -webkit-border-top-left-radius: @rad;
    -webkit-border-top-right-radius: @rad;
}

/* Responsive Functions*/
.reset-body-size() {
    width: 100%;
    min-width: auto;
    height: auto;
}
.responsive-header(@scale) {
    padding-top: unit(10*@scale, px);
    min-height: unit(149*@scale, px);
    #logo { .responsive-logo(@scale); }
    #quickmenu { .responsive-quickmenu(@scale); }
}
.responsive-logo(@scale) {
    padding: unit(17*@scale, px) unit(20*@scale, px);
    h1 {
        font-size: unit(60*@scale, px);
    }
    img {
        width: unit(48*@scale, px);
        height: unit(48*@scale, px);
    }
}
.responsive-quickmenu(@scale) {
    @blockSize: 60;
    @blockSizeFormated: floor(unit(@blockSize*@scale, px));
    .menu-item {
        padding: unit(floor(10*@scale), px) unit(floor(15*@scale),px);
        height: @blockSizeFormated;
        font-size: unit(ceil(27*@scale), px);
    }
}
.responsive-help-item(@scale) {
    font-size: unit(25*@scale,px);
    .image {
        padding: unit(20*@scale,px);
    }
    &#quickmenuHelpBlock {
        font-size: unit(20*@scale,px);
        padding: unit(10*@scale,px);
    }
    &#swipeHelpBlock {
        padding: 0 unit(30*@scale,px) unit(30*@scale,px) unit(30*@scale,px);
        min-height: 200px;
    }
    &#sitesHelpBlock {
        padding-top: unit(10*@scale,px);
    }
}
.responsive-story(@scale) {
    @imageHeight: 300px;
    @imageHeightFormated: floor(unit(@imageHeight*@scale, px));
    .storyContainer {
        .story {
            .image {
                height: @imageHeightFormated;
            }
        }
    }
}