@import "variables.less";
@import "functions.less";

.story {
    background-color: #373737;
    color: #ffffff;
    .border-radius(6px);
    margin: 10px 0;
    .header {
        background-color: #fff;
        font-weight: bold;
        font-size: 1.5em;
        padding: 5px 10px;
        .border-top-radius(6px);
    }
    .image {
        padding: 10px;
        text-align: center;
    }
    .content {
        padding: 10px;
        .decoration {
            font-weight: bold;
        }
    }
}