@import "variables.less";
@import "functions.less";

body {
    color: @fontColor;
    background-color: @bgColor;
    font-size: @fontSize;
    font-family: @fontFamily;
    width: 800px;
    height: 600px;
    padding-bottom: 50px;
    overflow-x: hidden;
}
::selection {
    background: @primary;
    color: #fff;
}
a {
    cursor: pointer;
}
h1, h2, h3, h4, h5 { font-family: @fontSpecial; text-transform: lowercase; }

/* Header */
header {
    #logo {
        color: @primaryActive;
        float: left;
        font-family: @fontFamilyLogo;
        h1 {
            padding: 0;
            margin: 0;
        }
        &.zIndex {
            z-index: 9999;
            position: absolute;
        }
    }
    #quickmenu {
        overflow: hidden;
        display: inline-block;
        .menu-item {
            color: #fff;
            display:inline-block;
            vertical-align: middle;
            text-align: center;
            font-family: @fontFamilyCounter;
            background-color: @primary;
            cursor: pointer;
            .no-underline();
            .reset();
            &:nth-child(2n+1) {
                background-color: @primaryActive;
            }
            i {
                vertical-align: middle;
            }
        }
    }
    .responsive-header(1);
}

/* Main Loader */
#mainLoader {
    padding: 30px;
    position: absolute;
    left: 50%;
    margin-left: -79px;
}

/* Settings */
#settings {
    #settingsContent {
        background-color: #ffffff;
        padding: 10px;
        margin: 10px 0;
        line-height: 30px;
        .border-radius(4px);
    }
}

/* Buttons */
.btn-default {
    background-color: @gray;
    border-color: @gray;
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: @grayDark;
    border-color: @grayDark;
    color: #fff;
}
.btn-primary, .btn-primary[disabled] {
    background-color: @primary;
    border-color: @primary;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: @primaryActive;
    border-color: @primaryActive;
    color: #fff;
}

/* Modals */
.modal {
    .modal-content {
        .border-radius(0px);
        .modal-header {
            background-color: @primaryActive;
            text-align: center;
            h1, h2, h3, h4 { color: #fff; }
        }
    }
}
.get-more-modal {
    ul {
        .reset();
        list-style: none;
        li {
            .reset();
            display: inline-block;
            width: 50%;
            text-align: center;
            a {
                color: @primary;
                display: block;
                padding: 5px 10px;
                font-size: 23px;
                font-family: @fontSpecial;
                .no-underline();
                &:hover {
                    color: @primaryActive;
                }
            }
        }
    }
}
.filter-modal {
    .sites-list {
        a {
            -webkit-transition:all linear 0.4s;
            transition:all linear 0.4s;
            padding: 10px 15px 5px 15px;
            font-family: @fontSpecial;
            font-style: italic;
            color: @gray;
            &.infavs { font-style: normal; color: @primaryActive;}
            .fa-star { color: #e6c511; }
            .fa-star-o { color: @gray; }
        }
    }
}

/* Tooltips */
.tooltip {
    font-family: @fontFamilyCounter;
    font-size: 20px;
    padding: 10px;
}

/* Stories */
#storiesContainer {
    position: relative;
    min-height: 200px;
    .storyContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        cursor: url("../img/swipe.png"), auto;
        .story {
            .unselectable();
            background-color: #fff;
            .border-radius(4px);
            border: none;
            box-shadow: none;
            margin-bottom: 0;
            .panel-heading {
                border-color: #eff2f7;
                font-size: 18px;
                font-weight: 400;
                background: @grayLight;
                text-transform: uppercase;
                padding: 10px 10px 2px 10px;
                .border-top-radius(4px);
                h1,h2,h3,h4,h5 {
                    .reset();
                    font-size: 25px;
                    i {
                        font-size: 18px;
                    }
                }
            }
            .image {
                padding: 10px;
                text-align: center;
            }
            .panel-body {
                padding: 10px;
                .decoration {
                    font-weight: bold;
                }
            }
        }
    }
}