/* Base colors */
@black: #32323a;
@grayDark: #b0b5b9;
@gray: #c7cbd6;
@grayLight: #fafafa;
@red: #fa8564;
@blue: #45c9c4;
@purple: #a48ad4;
@yellow: #f3c022;

/* Special colors */
@bgColor : #f1f2f7;
@primary: #4bc3bc;
@primaryActive: #1fb5ac;

/* Font */
@fontSize: 12px;
@fontColor: #afaebc;