<header>
    <div id="logo" ng-class="{'zIndex':help.active}"><h1>D<img src="../img/icon48.png" alt="o" width="48" height="48"/><img src="../img/icon48.png" alt="o" width="48" height="48"/>nut<br><small class="pull-right">Reader</small></h1></div>
    <div id="quickmenu" class="pull-right animate-show" reader-help reader-help-block="quickmenu">
        <span ng-show="stories.length" tooltip-append-to-body="true" title="Currently viewing Doonut storie #{{ showStoryIndex + 1 }}" class="menu-item menu-item-double">{{ showStoryIndex + 1 }} <i class="fa fa-eye"></i></span>
        <button ng-show="stories.length" ng-click="openGetMore('sm')" title="Click to get more !" class="menu-item menu-item-double btn btn-link">{{ stories.length }} <i class="fa fa-download"></i></button>
        <a class="menu-item" ng-click="openCatalog('')" title="Make your own catalog"><i class="fa fa-book"></i></a>
        <a class="menu-item" ng-click="activeHelpCenter()" title="Need help ? Just ask !"><i class="fa fa-question"></i></a>
    </div>
    <div class="clearfix"></div>
</header>