<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3"><button class="btn btn-primary btn-block" ng-click="reload(1)" ng-disabled="limit==1">1</button></div>
        <div class="col-xs-3"><button class="btn btn-primary btn-block" ng-click="reload(10)" ng-disabled="limit==10">10</button></div>
        <div class="col-xs-3"><button class="btn btn-primary btn-block" ng-click="reload(25)" ng-disabled="limit==25">25</button></div>
        <div class="col-xs-3"><button class="btn btn-primary btn-block" ng-click="reload(50)" ng-disabled="limit==50">50</button></div>
    </div>
    <div infinite-scroll="loadMore()">
        <div deckgrid class="deckgrid row" source="stories">
            <div class="story fadeInUp" style="background-color: #{{ card.site.color }};" ng-class="{animated:card.toAnimate}">
                <div class="header" style="color: #{{ card.site.color }};">
                    <!--<img ng-src="//api.reader.loc/uploads/logos/{{ card.site.logo_path }}" alt="{{ card.site.title }}"/>-->
                    {{ card.site.title }}
                </div>
                <div class="content">
                    <div id="storyContent{{ card.id }}" class="text">
                        <p ng-bind-html="card.text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both; height: 1px;"></div>
    </div>
    <button class="btn btn-block btn-primary" ng-click="loadMore()">Load more</button>
</div>