<div class="container">
    <hr/>
    <div class="row">
        <div class="col-xs-3" ng-repeat="(value,text) in limitButtons">
            <button class="btn btn-default btn-block" ng-click="reload(value)" ng-disabled="limit==value" ng-class="{'btn-primary':limit==value}">{{text}}</button>
        </div>
    </div>
    <hr/>
    <div class="btn-group btn-group-sm">
        <button ng-repeat="site in sites" class="btn btn-default" ng-click="toggleSite(site)" ng-class="{'btn-primary':activeSites.indexOf(site) != -1}">{{site.title}}</button>
    </div>
    <hr/>
    <div class="text-center" style="padding: 30px;" ng-class="{hide:stories.length > 0}">
        <img ng-src="/img/preloader2.gif" />
    </div>
    <div infinite-scroll="loadMore()" infinite-scroll-immediate-check="false">
        <div ng-repeat="story in stories">
            <div class="story fadeInUp" style="background-color: #{{ story.site.color }};" ng-class="{animated:story.toAnimate}">
                <div class="header" style="color: #{{ story.site.color }};">
                    <!--<img ng-src="//api.reader.loc/uploads/logos/{{ story.site.logo_path }}" alt="{{ story.site.title }}"/>-->
                    {{ story.site.title }}
                </div>
                <div class="image" ng-if="story.image.length > 0"><img ng-src="http://api.reader.loc/uploads/images/{{story.image}}" alt=""/></div>
                <div class="content">
                    <div id="storyContent{{ story.id }}" class="text">
                        <p ng-bind-html="story.text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both; height: 1px;"></div>
    </div>
    <hr/>
    <button id="loadMore" class="btn btn-block btn-primary" ng-click="loadMore()" ng-disabled="loading" ng-class="{loader:loading}"><i class="fa fa-spinner fa-spin" ng-class="{hide:!loading}"></i>Load more<i class="fa fa-caret-down"></i></button>
    <hr/>
</div>