<div class="container">
    <ng-include src="readerConfig.templates.header.url"></ng-include>
    <div id="mainLoader" class="text-center" style="padding: 30px;" ng-class="{hide:readingCenter.stories.length > 0}">
        <img ng-src="/img/loader.gif" height="128" width="128" />
    </div>
    <div id="storiesContainer" reader-help reader-help-block="swipe" reader-help-nobg>
        <div ng-hide="readingCenter.story.currentIndex != $index" ng-repeat="story in readingCenter.stories" class="storyContainer animate-show" ng-swipe-left="navigation.story.next()" ng-swipe-right="navigation.story.previous()">
            <ng-include src="readerConfig.templates.storyListItem.url" ></ng-include>
            <div id="favBar" ng-show="readingCenter.stories.length">
                <a ng-click="favCenter.toggleFav()" tooltip="Add story to your favorites" tooltip-append-to-body="true" tooltip-placement="top"><i class="fa animate-show" ng-class="favCenter.storieInFavs()"></i></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div ng-include="readerConfig.templates.help.url" ng-show="helpCenter.active" class="animate-show" ></div>